<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <% if show_link %>
          <%= link_to product.name, product %>
        <% else %>
          <%= product.name %>
        <% end %>
      </p>
      <p>Category: <%= link_to product.category.name, product.category %></p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        Name: <br><%= product.name %>
      </p>
      <p class="card-footer-item">
        Type: <br><%= product.type %>
      </p>
      <p class="card-footer-item">
        Color: <br><%= product.color %>
      </p>
      <p class="card-footer-item">
        Description: <br><%= product.description %>
      </p>
      <p class="card-footer-item">
        Price: <br><%= product.price %>
      </p>
    </footer>
  </div>
</div>